<div class="card">
  <div class="card-header">
      <h4>Log in</h4>
  </div>
  <div class="card-body">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, class:"form-control", placeholder:"E-mail", autofocus: true, autocomplete: "email" %>
  </div>
<br/>
  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class:"form-control", placeholder:"password",autocomplete: "current-password" %>
  </div>
<br/>
  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

<br/>
<dev class = "actoins">
  <%= f.submit "Log in ", class:'btn btn-secondary'%>
  </div> 
</div>


<% end %>
<br/>
<%= render "devise/shared/links" %>
